# Environment variables
BINANCE_API_KEY=b6EFHUqRvg4uuNhAGeaCA5viQDGMe1GcVwDSmfpklqQbnKQVNxbWi2zwEjMRqJ6c
BINANCE_API_SECRET=dFyTi3VVfzPmhNUNO8xpM2pdi2tPqwwl7UAES201yteFBez0wheUm4EWil5QRaTe

# Trading Settings
RISK_PERCENTAGE=2
LEVERAGE=5

# عملات قوية وموثوقة مناسبة للتداول
TRADING_SYMBOLS=BTCUSDT,ETHUSDT,BNBUSDT,ADAUSDT,DOGEUSDT,XRPUSDT,SOLUSDT,MATICUSDT,LINKUSDT,LTCUSDT,AVAXUSDT,UNIUSDT,ATOMUSDT,OPUSDT,ARBUSDT

# Stop Loss & Take Profit (percentage)
STOP_LOSS_PERCENT=2
TAKE_PROFIT_1_PERCENT=3
TAKE_PROFIT_2_PERCENT=6
TAKE_PROFIT_3_PERCENT=10
